In [295]:
import pandas as pd

In [400]:
nfl = pd.read_csv('./data/spreadspoke_110820.csv', index_col = "schedule_date", parse_dates = True)

### Data starts in 2011 Season

In [401]:
nfl = pd.DataFrame(nfl.loc['2011-09-01':'2020-11-02'])

In [402]:
nfl['over_under_line'] = nfl['over_under_line'].astype(float)

In [403]:
nfl16 = nfl.iloc[:, :7]

### Working on only 2016

In [404]:
nfl16 = pd.DataFrame(nfl16.loc['2016-09-01':'2017-01-01'])

In [405]:
nfl16.drop(columns = 'schedule_playoff',inplace=True)

In [406]:
nfl16['margin'] = nfl16['score_home'] - nfl16['score_away']

- changing team names to city abbreviations

In [407]:
def desc_to_id(id):

    id_dict = {
        'Atlanta Falcons': 'ATL',
        'Chicago Bears': 'CHI',
        'Cleveland Browns': 'CLE',
        'Green Bay Packers': "GB",
        'Indianapolis Colts':'IND',
        'Jacksonville Jaguars':'JAX',
        'New Orleans Saints': 'NO',
        'New York Jets':'NYJ',
        'Philadelphia Eagles':'PHI',
        'Seattle Seahawks':'SEA',
        'St. Louis Rams': 'LAR',
        'Tampa Bay Buccaneers':'TB',
        'Tennessee Titans':'TEN',
        'Washington Redskins':'WAS',
        'Denver Broncos':'DEN',
        'Baltimore Ravens':'BAL',
        'Buffalo Bills':'BUF',
        'Carolina Panthers':'CAR',
        'Cincinnati Bengals': 'CIN',
        'Detroit Lions': 'DET',
        'Kansas City Chiefs': 'KC',
        'Miami Dolphins': 'MIA',
        'Minnesota Vikings':'MIN',
        'New England Patriots':'NE',
        'New York Giants':'NYG',
        'San Francisco 49ers':'SF',
        'Dallas Cowboys': 'DAL',
        'Oakland Raiders': 'OAK',
        'Pittsburgh Steelers':'PIT',
        'San Diego Chargers':'SDG',
        'Arizona Cardinals': 'ARI',
        'Houston Texans':'HOU',
        'Los Angeles Rams':'LAR',
        'Los Angeles Chargers':'LAC'
    }
    
    try:
        return id_dict[id]
    except:
        return 'CHECK!'

In [408]:
nfl16['team_away'] = nfl16['team_away'].apply(desc_to_id)
nfl16['team_home'] = nfl16['team_home'].apply(desc_to_id)

- 32 teams so 16 rows per week

In [409]:
nfl16.shape

(256, 7)

In [410]:
nfl16['home_team']= nfl16['team_home']
nfl16.tail(17)

,schedule_season,schedule_week,team_home,score_home,score_away,team_away,margin,home_team
schedule_date,,,,,,,,
2016-12-26,2016,16,DAL,42.0,21.0,DET,21.0,DAL
2017-01-01,2016,17,ATL,38.0,32.0,NO,6.0,ATL
2017-01-01,2016,17,CIN,27.0,10.0,BAL,17.0,CIN
2017-01-01,2016,17,DEN,24.0,6.0,OAK,18.0,DEN
2017-01-01,2016,17,DET,24.0,31.0,GB,-7.0,DET
2017-01-01,2016,17,IND,24.0,20.0,JAX,4.0,IND
2017-01-01,2016,17,LAR,6.0,44.0,ARI,-38.0,LAR
2017-01-01,2016,17,MIA,14.0,35.0,NE,-21.0,MIA
2017-01-01,2016,17,MIN,38.0,10.0,CHI,28.0,MIN
2017-01-01,2016,17,NYJ,30.0,10.0,BUF,20.0,NYJ
2017-01-01,2016,17,PHI,27.0,13.0,DAL,14.0,PHI
2017-01-01,2016,17,PIT,27.0,24.0,CLE,3.0,PIT
2017-01-01,2016,17,SDG,27.0,37.0,KC,-10.0,SDG
2017-01-01,2016,17,SF,23.0,25.0,SEA,-2.0,SF
2017-01-01,2016,17,TB,17.0,16.0,CAR,1.0,TB
2017-01-01,2016,17,TEN,24.0,17.0,HOU,7.0,TEN
2017-01-01,2016,17,WAS,10.0,19.0,NYG,-9.0,WAS

In [411]:
#nfl16['id'] = nfl16['schedule_season'].astype(str) + nfl16['team_home'] + nfl16['schedule_week']

In [412]:
nfl16.head()

,schedule_season,schedule_week,team_home,score_home,score_away,team_away,margin,home_team
schedule_date,,,,,,,,
2016-09-08,2016,1,DEN,21.0,20.0,CAR,1.0,DEN
2016-09-11,2016,1,ARI,21.0,23.0,NE,-2.0,ARI
2016-09-11,2016,1,ATL,24.0,31.0,TB,-7.0,ATL
2016-09-11,2016,1,BAL,13.0,7.0,BUF,6.0,BAL
2016-09-11,2016,1,DAL,19.0,20.0,NYG,-1.0,DAL

### need to cut to week 6 here?

In [413]:
#nfl16_a[nfl16_a['schedule_week']=='6']

In [414]:
# h is for home designation
nfl16_h = nfl16.rename(columns= {
    'team_home': 'team',
    'score_home': 'score',
    'score_away': 'opponent_score',    
})

- needed to add unique id

In [415]:
nfl16_h.reset_index(inplace=True)

In [416]:
nfl16_h.head()

,schedule_date,schedule_season,schedule_week,team,score,opponent_score,team_away,margin,home_team
0,2016-09-08,2016,1,DEN,21.0,20.0,CAR,1.0,DEN
1,2016-09-11,2016,1,ARI,21.0,23.0,NE,-2.0,ARI
2,2016-09-11,2016,1,ATL,24.0,31.0,TB,-7.0,ATL
3,2016-09-11,2016,1,BAL,13.0,7.0,BUF,6.0,BAL
4,2016-09-11,2016,1,DAL,19.0,20.0,NYG,-1.0,DAL

In [417]:
nfl16_h['id'] = nfl16_h['team'] + nfl16_h['schedule_date'].astype(str)

In [418]:
nfl16_h.head()

,schedule_date,schedule_season,schedule_week,team,score,opponent_score,team_away,margin,home_team,id
0,2016-09-08,2016,1,DEN,21.0,20.0,CAR,1.0,DEN,DEN2016-09-08
1,2016-09-11,2016,1,ARI,21.0,23.0,NE,-2.0,ARI,ARI2016-09-11
2,2016-09-11,2016,1,ATL,24.0,31.0,TB,-7.0,ATL,ATL2016-09-11
3,2016-09-11,2016,1,BAL,13.0,7.0,BUF,6.0,BAL,BAL2016-09-11
4,2016-09-11,2016,1,DAL,19.0,20.0,NYG,-1.0,DAL,DAL2016-09-11

In [419]:
nfl16_h.drop(columns = 'team_away', inplace=True)

In [420]:
nfl16_h.shape

(256, 9)

In [421]:
# a is for home designation
nfl16_a = nfl16.rename(columns= {
    'team_away': 'team',
    'score_away': 'score',
    'score_home': 'opponent_score',    
})

In [422]:
nfl16_a.reset_index(inplace=True)

In [423]:
#nfl16_a['schedule_date'] = nfl16_a['schedule_date'].astype(str)

- need to add unique "id"

In [424]:
nfl16_a['id'] = nfl16_a['team'] + nfl16_a['schedule_date'].astype(str)

In [425]:
nfl16_a.drop(columns='team_home', inplace=True)

In [426]:
nfl16_a['margin'] = nfl16_a['score'] - nfl16_a['opponent_score']

In [427]:
nfl16_a.shape

(256, 9)

In [428]:
nfl16_a.head()

,schedule_date,schedule_season,schedule_week,opponent_score,score,team,margin,home_team,id
0,2016-09-08,2016,1,21.0,20.0,CAR,-1.0,DEN,CAR2016-09-08
1,2016-09-11,2016,1,21.0,23.0,NE,2.0,ARI,NE2016-09-11
2,2016-09-11,2016,1,24.0,31.0,TB,7.0,ATL,TB2016-09-11
3,2016-09-11,2016,1,13.0,7.0,BUF,-6.0,BAL,BUF2016-09-11
4,2016-09-11,2016,1,19.0,20.0,NYG,1.0,DAL,NYG2016-09-11

In [429]:
nfl16_a = nfl16_a[['schedule_date','id','schedule_season', 'schedule_week', 'team', 'score', 'opponent_score', 'margin', 'home_team']]

In [430]:
#nfl16_a[nfl16_a['schedule_week']=='6']
#nfl16_a.shape #(256,8)
nfl16_a.head()

,schedule_date,id,schedule_season,schedule_week,team,score,opponent_score,margin,home_team
0,2016-09-08,CAR2016-09-08,2016,1,CAR,20.0,21.0,-1.0,DEN
1,2016-09-11,NE2016-09-11,2016,1,NE,23.0,21.0,2.0,ARI
2,2016-09-11,TB2016-09-11,2016,1,TB,31.0,24.0,7.0,ATL
3,2016-09-11,BUF2016-09-11,2016,1,BUF,7.0,13.0,-6.0,BAL
4,2016-09-11,NYG2016-09-11,2016,1,NYG,20.0,19.0,1.0,DAL

In [431]:
nfl16_ha = pd.concat([nfl16_h, nfl16_a], axis=0, join ='inner')

In [432]:
nfl16_ha.head()

,schedule_date,schedule_season,schedule_week,team,score,opponent_score,margin,home_team,id
0,2016-09-08,2016,1,DEN,21.0,20.0,1.0,DEN,DEN2016-09-08
1,2016-09-11,2016,1,ARI,21.0,23.0,-2.0,ARI,ARI2016-09-11
2,2016-09-11,2016,1,ATL,24.0,31.0,-7.0,ATL,ATL2016-09-11
3,2016-09-11,2016,1,BAL,13.0,7.0,6.0,BAL,BAL2016-09-11
4,2016-09-11,2016,1,DAL,19.0,20.0,-1.0,DAL,DAL2016-09-11

In [433]:
nfl16_ha.sort_values(by = ['schedule_date','team'],inplace =True)

In [434]:
#nfl16_ha = nfl16_ha.reset_index()

In [435]:
nfl16_ha.shape

(512, 9)

### changing to week 6 here

In [436]:
nfl16_ha.nunique()

schedule_date       51
schedule_season      1
schedule_week       17
team                32
score               46
opponent_score      46
margin              67
home_team           32
id                 512
dtype: int64

In [437]:
nfl16_ha.shape

(512, 9)

In [438]:
#nfl16_ha =pd.DataFrame(nfl16_ha.loc[:'2016-10-18'])

In [439]:
nfl16_ha.shape

(512, 9)

##### Brings in the yardage file

In [440]:
nfl16_yards = pd.read_csv('./data/nfl16_yards2.csv', index_col=0)

In [441]:
nfl16_yards.head()

         date  game_number team  passing_yards  rushing_yards
0  2016-09-08            1  CAR            194            157
1  2016-09-08            1  DEN            178            148
2  2016-09-11            1  ARI            271             92
3  2016-09-11            1  ATL            334             52
4  2016-09-11            1  BAL            258             83

In [442]:
nfl16_yards['id'] = nfl16_yards['team'] + nfl16_yards['date']

### nfl16_yards is here is 2016 passing and rushing yards gained per game

In [443]:
nfl16_yards.head()

         date  game_number team  passing_yards  rushing_yards             id
0  2016-09-08            1  CAR            194            157  CAR2016-09-08
1  2016-09-08            1  DEN            178            148  DEN2016-09-08
2  2016-09-11            1  ARI            271             92  ARI2016-09-11
3  2016-09-11            1  ATL            334             52  ATL2016-09-11
4  2016-09-11            1  BAL            258             83  BAL2016-09-11

In [444]:
nfl16_yards['team'].unique()

array(['CAR', 'DEN', 'ARI', 'ATL', 'BAL', 'BUF', 'CHI', 'CIN', 'CLE',
       'DAL', 'DET', 'GB', 'HOU', 'IND', 'JAX', 'KC', 'MIA', 'MIN', 'NO',
       'NE', 'NYG', 'NYJ', 'OAK', 'PHI', 'SDG', 'SEA', 'TB', 'TEN', 'LAR',
       'PIT', 'SF', 'WAS'], dtype=object)

### nfl16_ha is 2016 points scored and allowed

In [445]:
nfl16_ha['team'].unique()

array(['CAR', 'DEN', 'ARI', 'ATL', 'BAL', 'BUF', 'CHI', 'CIN', 'CLE',
       'DAL', 'DET', 'GB', 'HOU', 'IND', 'JAX', 'KC', 'MIA', 'MIN', 'NE',
       'NO', 'NYG', 'NYJ', 'OAK', 'PHI', 'SDG', 'SEA', 'TB', 'TEN', 'LAR',
       'PIT', 'SF', 'WAS'], dtype=object)

In [446]:
nfl16_agg = pd.merge(nfl16_ha, nfl16_yards, on = 'id')

In [447]:
nfl16_agg.shape

(512, 14)

In [448]:
nfl16_agg.count()

schedule_date      512
schedule_season    512
schedule_week      512
team_x             512
score              512
opponent_score     512
margin             512
home_team          512
id                 512
date               512
game_number        512
team_y             512
passing_yards      512
rushing_yards      512
dtype: int64

In [449]:
nfl16_agg.to_csv('nfl16agg.csv')

### CUTOFF HERE! HOPEFULLY

In [450]:
nfl16w6_yards = pd.DataFrame(nfl16_yards[nfl16_yards['game_number']<=6])
nfl16w6_yards.tail()

           date  game_number team  passing_yards  rushing_yards             id
188  2016-10-23            6  MIN            224             93  MIN2016-10-23
189  2016-10-23            6   NO            367            104   NO2016-10-23
190  2016-10-23            6  PHI            138            101  PHI2016-10-23
191  2016-10-23            6  SEA            225             52  SEA2016-10-23
192  2016-10-23            6   TB            269            249   TB2016-10-23

In [451]:
nfl16w6_yards.sort_values(by = ['game_number','team'],inplace =True)

In [452]:
nfl16w6_yards.tail()

           date  game_number team  passing_yards  rushing_yards             id
191  2016-10-23            6  SEA            225             52  SEA2016-10-23
179  2016-10-16            6   SF            187            133   SF2016-10-16
192  2016-10-23            6   TB            269            249   TB2016-10-23
180  2016-10-16            6  TEN            284            137  TEN2016-10-16
181  2016-10-16            6  WAS            263            230  WAS2016-10-16

In [453]:
yards16_f6 = nfl16w6_yards.groupby('team').sum().reset_index()

In [454]:
yards16_f6.shape

(32, 4)

In [455]:
pf_pa.head(32)

NameError: name 'pf_pa' is not defined

In [ ]:
pf_pa = pd.DataFrame(nfl16_ha.groupby('team').sum()[['score','opponent_score','margin']])
#pfa = pd.DataFrame(nfl16_ha.groupby('team').sum()[['score_away']])
#pfh.reset_index(inplace = True)
pf_pa.reset_index(inplace = True)

In [ ]:
nfl16_agg = pd.concat([pf_pa, yards16_f6], axis=1, join ='inner')

In [ ]:
nfl16_agg.shape

In [ ]:
nfl16_agg1 = pd.concat([nfl16_agg, nfl_target['score']], axis=1, join ='inner')

In [ ]:
nfl16_agg1.count()

In [ ]:
nfl_target = pd.DataFrame(nfl16_ha[nfl16_ha['schedule_week']=='6'].sort_values(by='team')).reset_index()

In [ ]:
nfl_target.shape

In [ ]:
nfl16_agg1.tail()

In [ ]:
# nfl16_agg1.rename(columns= {'score':'target'})
# nfl16_agg1