In [267]:
import pandas as pd

In [268]:
nfl = pd.read_csv('./data/spreadspoke_110820.csv', index_col = "schedule_date", parse_dates = True)

In [269]:
nfl = pd.DataFrame(nfl.loc['2010-09-01':'2020-02-10'])

#### Data starts in 2010 Season and ends in 2020 but will have to cut off earlier

In [270]:
nfl['over_under_line'] = nfl['over_under_line'].astype(float)
nfl.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2670 entries, 2010-09-09 to 2020-02-02
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   schedule_season      2670 non-null   int64
 1   schedule_week        2670 non-null   object
 2   schedule_playoff     2670 non-null   bool
 3   team_home            2670 non-null   object
 4   score_home           2670 non-null   float64
 5   score_away           2670 non-null   float64
 6   team_away            2670 non-null   object
 7   team_favorite_id     2670 non-null   object
 8   spread_favorite      2670 non-null   float64
 9   over_under_line      2670 non-null   float64
 10  stadium              2670 non-null   object
 11  stadium_neutral      2670 non-null   bool
 12  weather_temperature  2433 non-null   float64
 13  weather_wind_mph     2433 non-null   float64
 14  weather_humidity     671 non-null    object
 15  weather_detail       854 non-null    object
dtypes: bool(2), float64(6), int64(1), object(7)
memory usage: 318.1+ KB

In [271]:
nfl = nfl.iloc[:, :10]

In [272]:
nfl.drop(columns = 'schedule_playoff',inplace=True)

In [273]:
nfl['margin'] = nfl['score_home'] - nfl['score_away']

In [274]:
def desc_to_id(id):

    id_dict = {
        'Atlanta Falcons': 'ATL',
        'Chicago Bears': 'CHI',
        'Cleveland Browns': 'CLE',
        'Green Bay Packers': "GB",
        'Indianapolis Colts':'IND',
        'Jacksonville Jaguars':'JAX',
        'New Orleans Saints': 'NO',
        'New York Jets':'NYJ',
        'Philadelphia Eagles':'PHI',
        'Seattle Seahawks':'SEA',
        'St. Louis Rams': 'LAR',
        'Tampa Bay Buccaneers':'TB',
        'Tennessee Titans':'TEN',
        'Washington Redskins':'WAS',
        'Denver Broncos':'DEN',
        'Baltimore Ravens':'BAL',
        'Buffalo Bills':'BUF',
        'Carolina Panthers':'CAR',
        'Cincinnati Bengals': 'CIN',
        'Detroit Lions': 'DET',
        'Kansas City Chiefs': 'KC',
        'Miami Dolphins': 'MIA',
        'Minnesota Vikings':'MIN',
        'New England Patriots':'NE',
        'New York Giants':'NYG',
        'San Francisco 49ers':'SF',
        'Dallas Cowboys': 'DAL',
        'Oakland Raiders': 'OAK',
        'Pittsburgh Steelers':'PIT',
        'San Diego Chargers':'LAC',
        'Arizona Cardinals': 'ARI',
        'Houston Texans':'HOU',
        'Los Angeles Rams':'LAR',
        'Los Angeles Chargers':'LAC'
    }
    
    try:
        return id_dict[id]
    except:
        return 'CHECK!'

In [275]:
nfl['team_away'] = nfl16['team_away'].apply(desc_to_id)
nfl['team_home'] = nfl16['team_home'].apply(desc_to_id)

In [276]:
nfl['home_team']= nfl['team_home']

In [277]:
nfl.shape

(2670, 11)

#### getting rid of playoff games

In [278]:
nfl['schedule_week'].unique()

array(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17', 'Wildcard', 'Division', 'Conference',
       'Superbowl', 'WildCard', 'SuperBowl'], dtype=object)

In [279]:
nfl = nfl[nfl.schedule_week != 'Wildcard']
nfl = nfl[nfl.schedule_week != 'WildCard']
nfl = nfl[nfl.schedule_week != 'Division']
nfl = nfl[nfl.schedule_week != 'Conference']
nfl = nfl[nfl.schedule_week != 'Superbowl']
nfl = nfl[nfl.schedule_week != 'SuperBowl']

In [280]:
nfl.shape

(2560, 11)

In [281]:
nfl['schedule_week'].unique()

array(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17'], dtype=object)

In [282]:
nfl.head()

,schedule_season,schedule_week,team_home,score_home,score_away,team_away,team_favorite_id,spread_favorite,over_under_line,margin,home_team
schedule_date,,,,,,,,,,,
2010-09-09,2010,1,NO,14.0,9.0,MIN,NO,-5.0,49.5,5.0,NO
2010-09-12,2010,1,BUF,10.0,15.0,MIA,MIA,-3.0,39.0,-5.0,BUF
2010-09-12,2010,1,CHI,19.0,14.0,DET,CHI,-6.5,45.0,5.0,CHI
2010-09-12,2010,1,HOU,34.0,24.0,IND,IND,-1.0,48.0,10.0,HOU
2010-09-12,2010,1,JAX,24.0,17.0,DEN,JAX,-3.0,41.5,7.0,JAX

In [283]:
# h is for home designation
nfl_h = nfl.rename(columns= {
    'team_home': 'team',
    'score_home': 'score',
    'score_away': 'opponent_score',
    'team_away' : 'opponent_team',
})

In [284]:
nfl_h.reset_index(inplace=True)

In [285]:
nfl_h.head()

,schedule_date,schedule_season,schedule_week,team,score,opponent_score,opponent_team,team_favorite_id,spread_favorite,over_under_line,margin,home_team
0,2010-09-09,2010,1,NO,14.0,9.0,MIN,NO,-5.0,49.5,5.0,NO
1,2010-09-12,2010,1,BUF,10.0,15.0,MIA,MIA,-3.0,39.0,-5.0,BUF
2,2010-09-12,2010,1,CHI,19.0,14.0,DET,CHI,-6.5,45.0,5.0,CHI
3,2010-09-12,2010,1,HOU,34.0,24.0,IND,IND,-1.0,48.0,10.0,HOU
4,2010-09-12,2010,1,JAX,24.0,17.0,DEN,JAX,-3.0,41.5,7.0,JAX

In [286]:
nfl_h['id'] = nfl_h['team'] + nfl_h['schedule_date'].astype(str) #+ nfl_h['team_away']

In [287]:
nfl_h.head(1)

,schedule_date,schedule_season,schedule_week,team,score,opponent_score,opponent_team,team_favorite_id,spread_favorite,over_under_line,margin,home_team,id
0,2010-09-09,2010,1,NO,14.0,9.0,MIN,NO,-5.0,49.5,5.0,NO,NO2010-09-09

In [288]:
#nfl_h.drop(columns = 'team_away', inplace=True)

In [289]:
nfl_h.shape

(2560, 13)

In [290]:
# a is for home designation
nfl_a = nfl.rename(columns= {
    'team_away': 'team',
    'score_away': 'score',
    'score_home': 'opponent_score',
    'team_home' : 'opponent_team'
})

In [291]:
nfl_a.reset_index(inplace=True)

In [292]:
nfl_a.head(1)

,schedule_date,schedule_season,schedule_week,opponent_team,opponent_score,score,team,team_favorite_id,spread_favorite,over_under_line,margin,home_team
0,2010-09-09,2010,1,NO,14.0,9.0,MIN,NO,-5.0,49.5,5.0,NO

In [293]:
nfl_a['id'] = nfl_a['team'] + nfl_a['schedule_date'].astype(str) #+ nfl_a['team_home']

In [294]:
nfl_a.head(1)

,schedule_date,schedule_season,schedule_week,opponent_team,opponent_score,score,team,team_favorite_id,spread_favorite,over_under_line,margin,home_team,id
0,2010-09-09,2010,1,NO,14.0,9.0,MIN,NO,-5.0,49.5,5.0,NO,MIN2010-09-09

In [295]:
#nfl_a.drop(columns='team_home', inplace=True)

In [296]:
nfl_a['margin'] = nfl_a['score'] - nfl_a['opponent_score']

In [297]:
nfl_a.shape

(2560, 13)

In [298]:
nfl_ha = pd.concat([nfl_h, nfl_a], axis=0, join ='inner')

In [299]:
nfl_ha.shape

(5120, 13)

In [300]:
nfl_ha.sort_values(by= ['schedule_date', 'team'], inplace=True)

In [303]:
nfl_ha.head(32)

,schedule_date,schedule_season,schedule_week,team,score,opponent_score,opponent_team,team_favorite_id,spread_favorite,over_under_line,margin,home_team,id
0,2010-09-09,2010,1,MIN,9.0,14.0,NO,NO,-5.0,49.5,-5.0,NO,MIN2010-09-09
0,2010-09-09,2010,1,NO,14.0,9.0,MIN,NO,-5.0,49.5,5.0,NO,NO2010-09-09
10,2010-09-12,2010,1,ARI,17.0,13.0,LAR,ARI,-3.0,39.5,4.0,LAR,ARI2010-09-12
8,2010-09-12,2010,1,ATL,9.0,15.0,PIT,ATL,-1.5,39.5,-6.0,PIT,ATL2010-09-12
1,2010-09-12,2010,1,BUF,10.0,15.0,MIA,MIA,-3.0,39.0,-5.0,BUF,BUF2010-09-12
6,2010-09-12,2010,1,CAR,18.0,31.0,NYG,NYG,-6.0,41.0,-13.0,NYG,CAR2010-09-12
2,2010-09-12,2010,1,CHI,19.0,14.0,DET,CHI,-6.5,45.0,5.0,CHI,CHI2010-09-12
5,2010-09-12,2010,1,CIN,24.0,38.0,NE,NE,-5.5,45.0,-14.0,NE,CIN2010-09-12
11,2010-09-12,2010,1,CLE,14.0,17.0,TB,TB,-2.5,37.0,-3.0,TB,CLE2010-09-12
13,2010-09-12,2010,1,DAL,7.0,13.0,WAS,DAL,-3.0,40.0,-6.0,WAS,DAL2010-09-12
4,2010-09-12,2010,1,DEN,17.0,24.0,JAX,JAX,-3.0,41.5,-7.0,JAX,DEN2010-09-12
2,2010-09-12,2010,1,DET,14.0,19.0,CHI,CHI,-6.5,45.0,-5.0,CHI,DET2010-09-12
7,2010-09-12,2010,1,GB,27.0,20.0,PHI,GB,-3.0,48.0,7.0,PHI,GB2010-09-12
3,2010-09-12,2010,1,HOU,34.0,24.0,IND,IND,-1.0,48.0,10.0,HOU,HOU2010-09-12
3,2010-09-12,2010,1,IND,24.0,34.0,HOU,IND,-1.0,48.0,-10.0,HOU,IND2010-09-12
4,2010-09-12,2010,1,JAX,24.0,17.0,DEN,JAX,-3.0,41.5,7.0,JAX,JAX2010-09-12
10,2010-09-12,2010,1,LAR,13.0,17.0,ARI,ARI,-3.0,39.5,-4.0,LAR,LAR2010-09-12
1,2010-09-12,2010,1,MIA,15.0,10.0,BUF,MIA,-3.0,39.0,5.0,BUF,MIA2010-09-12
5,2010-09-12,2010,1,NE,38.0,24.0,CIN,NE,-5.5,45.0,14.0,NE,NE2010-09-12
6,2010-09-12,2010,1,NYG,31.0,18.0,CAR,NYG,-6.0,41.0,13.0,NYG,NYG2010-09-12
12,2010-09-12,2010,1,OAK,13.0,38.0,TEN,TEN,-6.5,40.0,-25.0,TEN,OAK2010-09-12
7,2010-09-12,2010,1,PHI,20.0,27.0,GB,GB,-3.0,48.0,-7.0,PHI,PHI2010-09-12
8,2010-09-12,2010,1,PIT,15.0,9.0,ATL,ATL,-1.5,39.5,6.0,PIT,PIT2010-09-12
9,2010-09-12,2010,1,SEA,31.0,6.0,SF,SF,-3.0,37.0,25.0,SEA,SEA2010-09-12
9,2010-09-12,2010,1,SF,6.0,31.0,SEA,SF,-3.0,37.0,-25.0,SEA,SF2010-09-12
11,2010-09-12,2010,1,TB,17.0,14.0,CLE,TB,-2.5,37.0,3.0,TB,TB2010-09-12
12,2010-09-12,2010,1,TEN,38.0,13.0,OAK,TEN,-6.5,40.0,25.0,TEN,TEN2010-09-12
13,2010-09-12,2010,1,WAS,13.0,7.0,DAL,DAL,-3.0,40.0,6.0,WAS,WAS2010-09-12
15,2010-09-13,2010,1,BAL,10.0,9.0,NYJ,NYJ,-1.0,36.5,1.0,NYJ,BAL2010-09-13
14,2010-09-13,2010,1,KC,21.0,14.0,LAC,LAC,-4.0,45.5,7.0,KC,KC2010-09-13
14,2010-09-13,2010,1,LAC,14.0,21.0,KC,LAC,-4.0,45.5,-7.0,KC,LAC2010-09-13
15,2010-09-13,2010,1,NYJ,9.0,10.0,BAL,NYJ,-1.0,36.5,-1.0,NYJ,NYJ2010-09-13

In [302]:
nfl_ha.to_csv('./data/nfl_scores_agg.csv')