In [8]:
import pandas as pd

In [9]:
#df = pd.read_json('./data/games_1512362753.8735218.json')

In [10]:
#pd.set_option('display.max_columns', None)

In [11]:
#pstats_2005 = df[df['year']>=2005]

In [12]:
#pstats_2005.shape

In [13]:
#pstats_2005.to_csv('player_stats_2005.csv')

In [14]:
#pstats = pd.DataFrame(pstats_2005)

In [38]:
pstats = pd.read_csv('./data/player_stats_2005.csv', index_col = "date", parse_dates = True)

In [46]:
pstats.sort_index(inplace=True)
pstats.drop(columns = 'Unnamed: 0', inplace=True)

pstats.head()

,player_id,year,game_number,age,team,game_location,opponent,game_won,player_team_score,opponent_score,...,defense_interception_yards,defense_interception_touchdowns,defense_safeties,point_after_attemps,point_after_makes,field_goal_attempts,field_goal_makes,punting_attempts,punting_yards,punting_blocked
date,,,,,,,,,,,,,,,,,,,,,
2005-09-08,2240,2005,1,28-036,NWE,H,OAK,True,30,20,...,0,0,0,0,0,0,0,0,0,0
2005-09-08,6141,2005,1,30-057,NWE,H,OAK,True,30,20,...,0,0,0,0,0,0,0,0,0,0
2005-09-08,7542,2005,1,25-044,OAK,A,NWE,False,20,30,...,0,0,0,0,0,0,0,0,0,0
2005-09-08,14783,2005,1,33-271,NWE,H,OAK,True,30,20,...,0,0,0,0,0,0,0,0,0,0
2005-09-08,11755,2005,1,26-301,OAK,A,NWE,False,20,30,...,0,0,0,0,0,0,0,0,0,0

In [54]:
pstats.loc['2017':]

,player_id,year,game_number,age,team,game_location,opponent,game_won,player_team_score,opponent_score,...,defense_interception_yards,defense_interception_touchdowns,defense_safeties,point_after_attemps,point_after_makes,field_goal_attempts,field_goal_makes,punting_attempts,punting_yards,punting_blocked
date,,,,,,,,,,,,,,,,,,,,,
2017-11-30,21646,2017,12,26-090,WAS,A,DAL,False,14,38,...,0,0,0,0,0,0,0,0,0,0
2017-11-30,19628,2017,12,25-339,WAS,A,DAL,False,14,38,...,0,0,0,0,0,0,0,0,0,0
2017-11-30,12986,2017,12,25-242,DAL,H,WAS,True,38,14,...,0,0,0,0,0,0,0,0,0,0
2017-11-30,24544,2017,12,35-208,DAL,H,WAS,True,38,14,...,0,0,0,0,0,0,0,0,0,0
2017-11-30,20760,2017,12,25-324,DAL,H,WAS,True,38,14,...,0,0,0,0,0,0,0,0,0,0

In [55]:
pstats.describe()

,player_id,year,game_number,player_team_score,opponent_score,passing_attempts,passing_completions,passing_yards,passing_rating,passing_touchdowns,...,defense_interception_yards,defense_interception_touchdowns,defense_safeties,point_after_attemps,point_after_makes,field_goal_attempts,field_goal_makes,punting_attempts,punting_yards,punting_blocked
count,298315.000000,298315.000000,298315.000000,298315.000000,298315.000000,298315.000000,298315.000000,298315.000000,298315.000000,298315.000000,...,298315.000000,298315.0,298315.000000,298315.000000,298315.000000,298315.000000,298315.000000,298315.000000,298315.000000,298315.000000
mean,12479.567652,2010.868508,8.726115,22.163874,22.133899,0.471743,0.770243,5.428943,2.270576,0.032868,...,0.310910,0.0,0.000329,0.051905,0.052917,0.043417,0.036244,0.106361,4.730654,0.000546
std,7327.195262,3.657576,4.833980,10.293506,10.288858,3.170712,5.107599,36.820482,14.505078,0.272506,...,3.579137,0.0,0.018122,0.406204,0.412104,0.344732,0.298487,0.757566,33.936554,0.023795
min,1.000000,2005.000000,1.000000,0.000000,0.000000,0.000000,0.000000,-16.000000,0.000000,0.000000,...,-18.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,6188.000000,2008.000000,5.000000,14.000000,14.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,12170.000000,2011.000000,9.000000,21.000000,21.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,18920.000000,2014.000000,13.000000,29.000000,29.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,25040.000000,2017.000000,20.000000,62.000000,62.000000,43.000000,67.000000,527.000000,158.300000,7.000000,...,150.000000,0.0,1.000000,8.000000,8.000000,8.000000,8.000000,12.000000,564.000000,2.000000

In [56]:
pstats.shape

(298315, 45)

In [57]:
pstats.columns

Index(['player_id', 'year', 'game_number', 'age', 'team', 'game_location',
       'opponent', 'game_won', 'player_team_score', 'opponent_score',
       'passing_attempts', 'passing_completions', 'passing_yards',
       'passing_rating', 'passing_touchdowns', 'passing_interceptions',
       'passing_sacks', 'passing_sacks_yards_lost', 'rushing_attempts',
       'rushing_yards', 'rushing_touchdowns', 'receiving_targets',
       'receiving_receptions', 'receiving_yards', 'receiving_touchdowns',
       'kick_return_attempts', 'kick_return_yards', 'kick_return_touchdowns',
       'punt_return_attempts', 'punt_return_yards', 'punt_return_touchdowns',
       'defense_sacks', 'defense_tackles', 'defense_tackle_assists',
       'defense_interceptions', 'defense_interception_yards',
       'defense_interception_touchdowns', 'defense_safeties',
       'point_after_attemps', 'point_after_makes', 'field_goal_attempts',
       'field_goal_makes', 'punting_attempts', 'punting_yards',
       'punting_blocked'],
      dtype='object')

In [58]:
pstats.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 298315 entries, 2005-09-08 to 2017-11-30
Data columns (total 45 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   player_id                        298315 non-null  int64
 1   year                             298315 non-null  int64
 2   game_number                      298315 non-null  int64
 3   age                              298315 non-null  object
 4   team                             298315 non-null  object
 5   game_location                    298315 non-null  object
 6   opponent                         298315 non-null  object
 7   game_won                         298315 non-null  bool
 8   player_team_score                298315 non-null  int64
 9   opponent_score                   298315 non-null  int64
 10  passing_attempts                 298315 non-null  int64
 11  passing_completions              298315 non-null  int64
 12  passing_yards                    298315 non-null  int64
 13  passing_rating                   298315 non-null  float64
 14  passing_touchdowns               298315 non-null  int64
 15  passing_interceptions            298315 non-null  int64
 16  passing_sacks                    298315 non-null  int64
 17  passing_sacks_yards_lost         298315 non-null  int64
 18  rushing_attempts                 298315 non-null  int64
 19  rushing_yards                    298315 non-null  int64
 20  rushing_touchdowns               298315 non-null  int64
 21  receiving_targets                298315 non-null  int64
 22  receiving_receptions             298315 non-null  int64
 23  receiving_yards                  298315 non-null  int64
 24  receiving_touchdowns             298315 non-null  int64
 25  kick_return_attempts             298315 non-null  int64
 26  kick_return_yards                298315 non-null  int64
 27  kick_return_touchdowns           298315 non-null  int64
 28  punt_return_attempts             298315 non-null  int64
 29  punt_return_yards                298315 non-null  int64
 30  punt_return_touchdowns           298315 non-null  int64
 31  defense_sacks                    298315 non-null  float64
 32  defense_tackles                  298315 non-null  int64
 33  defense_tackle_assists           298315 non-null  int64
 34  defense_interceptions            298315 non-null  int64
 35  defense_interception_yards       298315 non-null  int64
 36  defense_interception_touchdowns  298315 non-null  int64
 37  defense_safeties                 298315 non-null  int64
 38  point_after_attemps              298315 non-null  int64
 39  point_after_makes                298315 non-null  int64
 40  field_goal_attempts              298315 non-null  int64
 41  field_goal_makes                 298315 non-null  int64
 42  punting_attempts                 298315 non-null  int64
 43  punting_yards                    298315 non-null  int64
 44  punting_blocked                  298315 non-null  int64
dtypes: bool(1), float64(2), int64(38), object(4)
memory usage: 112.7+ MB

In [59]:
y2016 = pstats[pstats['year']== 2016]

In [60]:
y2016.shape

(23759, 45)

In [61]:
y2016[y2016['passing_attempts']>35]

,player_id,year,game_number,age,team,game_location,opponent,game_won,player_team_score,opponent_score,...,defense_interception_yards,defense_interception_touchdowns,defense_safeties,point_after_attemps,point_after_makes,field_goal_attempts,field_goal_makes,punting_attempts,punting_yards,punting_blocked
date,,,,,,,,,,,,,,,,,,,,,
2016-09-25,24497,2016,3,22-263,TAM,H,LAR,False,32,37,...,0,0,0,0,0,0,0,0,0,0
2016-09-26,2328,2016,3,37-255,NOR,H,ATL,False,32,45,...,0,0,0,0,0,0,0,0,0,0
2016-10-20,18951,2016,6,32-323,GNB,H,CHI,True,26,10,...,0,0,0,0,0,0,0,0,0,0
2016-10-23,2328,2016,6,37-282,NOR,A,KAN,False,21,27,...,0,0,0,0,0,0,0,0,0,0
2016-10-30,3487,2016,8,25-216,OAK,A,TAM,True,30,24,...,0,0,0,0,0,0,0,0,0,0
2016-10-30,4644,2016,8,28-072,WAS,A,CIN,False,27,27,...,0,0,0,0,0,0,0,0,0,0
2016-11-13,18977,2016,9,34-256,PIT,H,DAL,False,30,35,...,0,0,0,0,0,0,0,0,0,0
2016-11-24,4644,2016,11,28-097,WAS,A,DAL,False,26,31,...,0,0,0,0,0,0,0,0,0,0
2016-12-04,6977,2016,12,31-323,BAL,H,MIA,True,38,6,...,0,0,0,0,0,0,0,0,0,0
2016-12-04,23623,2016,12,23-340,PHI,A,CIN,False,14,32,...,0,0,0,0,0,0,0,0,0,0
2016-12-12,6977,2016,13,31-331,BAL,A,NWE,False,23,30,...,0,0,0,0,0,0,0,0,0,0
2016-12-18,2328,2016,14,37-338,NOR,A,ARI,True,48,41,...,0,0,0,0,0,0,0,0,0,0
2016-12-22,13982,2016,15,35-354,NYG,A,PHI,False,19,24,...,0,0,0,0,0,0,0,0,0,0
2017-02-05,2240,2016,19,39-186,NWE,N,ATL,True,34,28,...,0,0,0,0,0,0,0,0,0,0

#### verfied stats good

In [62]:
y2016[y2016['player_id']==4644] #kirk cousins

,player_id,year,game_number,age,team,game_location,opponent,game_won,player_team_score,opponent_score,...,defense_interception_yards,defense_interception_touchdowns,defense_safeties,point_after_attemps,point_after_makes,field_goal_attempts,field_goal_makes,punting_attempts,punting_yards,punting_blocked
date,,,,,,,,,,,,,,,,,,,,,
2016-09-12,4644,2016,1,28-024,WAS,H,PIT,False,16,38,...,0,0,0,0,0,0,0,0,0,0
2016-09-18,4644,2016,2,28-030,WAS,H,DAL,False,23,27,...,0,0,0,0,0,0,0,0,0,0
2016-09-25,4644,2016,3,28-037,WAS,A,NYG,True,29,27,...,0,0,0,0,0,0,0,0,0,0
2016-10-02,4644,2016,4,28-044,WAS,H,CLE,True,31,20,...,0,0,0,0,0,0,0,0,0,0
2016-10-09,4644,2016,5,28-051,WAS,A,BAL,True,16,10,...,0,0,0,0,0,0,0,0,0,0
2016-10-16,4644,2016,6,28-058,WAS,H,PHI,True,27,20,...,0,0,0,0,0,0,0,0,0,0
2016-10-23,4644,2016,7,28-065,WAS,A,DET,False,17,20,...,0,0,0,0,0,0,0,0,0,0
2016-10-30,4644,2016,8,28-072,WAS,A,CIN,False,27,27,...,0,0,0,0,0,0,0,0,0,0
2016-11-13,4644,2016,9,28-086,WAS,H,MIN,True,26,20,...,0,0,0,0,0,0,0,0,0,0
2016-11-20,4644,2016,10,28-093,WAS,H,GNB,True,42,24,...,0,0,0,0,0,0,0,0,0,0
2016-11-24,4644,2016,11,28-097,WAS,A,DAL,False,26,31,...,0,0,0,0,0,0,0,0,0,0
2016-12-04,4644,2016,12,28-107,WAS,A,ARI,False,23,31,...,0,0,0,0,0,0,0,0,0,0
2016-12-11,4644,2016,13,28-114,WAS,A,PHI,True,27,22,...,0,0,0,0,0,0,0,0,0,0
2016-12-19,4644,2016,14,28-122,WAS,H,CAR,False,15,26,...,0,0,0,0,0,0,0,0,0,0
2016-12-24,4644,2016,15,28-127,WAS,A,CHI,True,41,21,...,0,0,0,0,0,0,0,0,0,0
2017-01-01,4644,2016,16,28-135,WAS,H,NYG,False,10,19,...,0,0,0,0,0,0,0,0,0,0

In [63]:
ind_2016 = y2016.groupby(['player_id']).sum()

In [64]:
ind_2016.reset_index(inplace=True)

In [65]:
ind_2016[ind_2016['player_id']==24497] #verfied Jameson Winston stats

,player_id,year,game_number,game_won,player_team_score,opponent_score,passing_attempts,passing_completions,passing_yards,passing_rating,...,defense_interception_yards,defense_interception_touchdowns,defense_safeties,point_after_attemps,point_after_makes,field_goal_attempts,field_goal_makes,punting_attempts,punting_yards,punting_blocked
1949,24497,32256,136,9,354,369,345,567,4090,1405.6,...,0,0,0,0,0,0,0,0,0,0

In [66]:
df_2016 = pd.DataFrame(ind_2016)

In [67]:
df_2016.head()

,player_id,year,game_number,game_won,player_team_score,opponent_score,passing_attempts,passing_completions,passing_yards,passing_rating,...,defense_interception_yards,defense_interception_touchdowns,defense_safeties,point_after_attemps,point_after_makes,field_goal_attempts,field_goal_makes,punting_attempts,punting_yards,punting_blocked
0,5,10080,15,3,114,113,0,0,0,0.0,...,0,0,0,0,0,0,0,0,0,0
1,7,4032,29,1,36,55,0,0,0,0.0,...,0,0,0,0,0,0,0,0,0,0
2,9,30240,120,10,349,345,0,0,0,0.0,...,16,0,0,0,0,0,0,0,0,0
3,10,4032,3,1,54,51,0,0,0,0.0,...,0,0,0,0,0,0,0,0,0,0
4,21,12096,84,4,129,132,0,0,0,0.0,...,0,0,0,0,0,0,0,0,0,0

In [68]:
df_2016.shape

(1988, 41)

In [69]:
df_2016[df_2016['passing_attempts']>400]

,player_id,year,game_number,game_won,player_team_score,opponent_score,passing_attempts,passing_completions,passing_yards,passing_rating,...,defense_interception_yards,defense_interception_touchdowns,defense_safeties,point_after_attemps,point_after_makes,field_goal_attempts,field_goal_makes,punting_attempts,punting_yards,punting_blocked
195,2328,32256,136,7,469,454,471,673,5208,1630.8,...,0,0,0,0,0,0,0,0,0,0
376,4644,32256,136,8,396,383,406,606,4917,1582.2,...,0,0,0,0,0,0,0,0,0,0
554,6977,32256,136,8,343,321,436,672,4317,1341.6,...,0,0,0,0,0,0,0,0,0,0
1512,18951,38304,190,12,525,476,481,738,5432,2007.6,...,0,0,0,0,0,0,0,0,0,0
1534,19319,38304,190,13,648,481,443,632,5958,2278.5,...,0,0,0,0,0,0,0,0,0,0
1659,21069,34272,153,9,352,384,406,626,4532,1589.4,...,0,0,0,0,0,0,0,0,0,0