In [169]:
import pandas as pd

In [170]:
nfl = pd.read_csv('./data/spreadspoke_110820.csv', index_col = "schedule_date", parse_dates = True)

In [171]:
nfl = pd.DataFrame(nfl.loc['2010-09-01':'2020-02-10'])

#### Data starts in 2010 Season and ends in 2020 but will have to cut off earlier

In [172]:
nfl['over_under_line'] = nfl['over_under_line'].astype(float)
nfl.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2670 entries, 2010-09-09 to 2020-02-02
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   schedule_season      2670 non-null   int64
 1   schedule_week        2670 non-null   object
 2   schedule_playoff     2670 non-null   bool
 3   team_home            2670 non-null   object
 4   score_home           2670 non-null   float64
 5   score_away           2670 non-null   float64
 6   team_away            2670 non-null   object
 7   team_favorite_id     2670 non-null   object
 8   spread_favorite      2670 non-null   float64
 9   over_under_line      2670 non-null   float64
 10  stadium              2670 non-null   object
 11  stadium_neutral      2670 non-null   bool
 12  weather_temperature  2433 non-null   float64
 13  weather_wind_mph     2433 non-null   float64
 14  weather_humidity     671 non-null    object
 15  weather_detail       854 non-null    object
dtypes: bool(2), float64(6), int64(1), object(7)
memory usage: 318.1+ KB

In [173]:
nfl = nfl.iloc[:, :10]

In [174]:
nfl.drop(columns = 'schedule_playoff',inplace=True)

In [175]:
nfl['margin'] = nfl['score_home'] - nfl['score_away']

In [176]:
def desc_to_id(id):

    id_dict = {
        'Atlanta Falcons': 'ATL',
        'Chicago Bears': 'CHI',
        'Cleveland Browns': 'CLE',
        'Green Bay Packers': "GB",
        'Indianapolis Colts':'IND',
        'Jacksonville Jaguars':'JAX',
        'New Orleans Saints': 'NO',
        'New York Jets':'NYJ',
        'Philadelphia Eagles':'PHI',
        'Seattle Seahawks':'SEA',
        'St. Louis Rams': 'LAR',
        'Tampa Bay Buccaneers':'TB',
        'Tennessee Titans':'TEN',
        'Washington Redskins':'WAS',
        'Denver Broncos':'DEN',
        'Baltimore Ravens':'BAL',
        'Buffalo Bills':'BUF',
        'Carolina Panthers':'CAR',
        'Cincinnati Bengals': 'CIN',
        'Detroit Lions': 'DET',
        'Kansas City Chiefs': 'KC',
        'Miami Dolphins': 'MIA',
        'Minnesota Vikings':'MIN',
        'New England Patriots':'NE',
        'New York Giants':'NYG',
        'San Francisco 49ers':'SF',
        'Dallas Cowboys': 'DAL',
        'Oakland Raiders': 'OAK',
        'Pittsburgh Steelers':'PIT',
        'San Diego Chargers':'LAC',
        'Arizona Cardinals': 'ARI',
        'Houston Texans':'HOU',
        'Los Angeles Rams':'LAR',
        'Los Angeles Chargers':'LAC'
    }
    
    try:
        return id_dict[id]
    except:
        return 'CHECK!'

In [177]:
nfl['team_away'] = nfl16['team_away'].apply(desc_to_id)
nfl['team_home'] = nfl16['team_home'].apply(desc_to_id)

In [178]:
nfl['home_team']= nfl['team_home']

In [179]:
nfl.shape

(2670, 11)

#### getting rid of playoff games

In [180]:
nfl['schedule_week'].unique()

array(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17', 'Wildcard', 'Division', 'Conference',
       'Superbowl', 'WildCard', 'SuperBowl'], dtype=object)

In [181]:
nfl = nfl[nfl.schedule_week != 'Wildcard']
nfl = nfl[nfl.schedule_week != 'WildCard']
nfl = nfl[nfl.schedule_week != 'Division']
nfl = nfl[nfl.schedule_week != 'Conference']
nfl = nfl[nfl.schedule_week != 'Superbowl']
nfl = nfl[nfl.schedule_week != 'SuperBowl']

In [182]:
nfl.shape

(2560, 11)

In [183]:
nfl['schedule_week'].unique()

array(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17'], dtype=object)

In [216]:
nfl.head()

,schedule_season,schedule_week,team_home,score_home,score_away,team_away,team_favorite_id,spread_favorite,over_under_line,margin,home_team
schedule_date,,,,,,,,,,,
2010-09-09,2010,1,NO,14.0,9.0,MIN,NO,-5.0,49.5,5.0,NO
2010-09-12,2010,1,BUF,10.0,15.0,MIA,MIA,-3.0,39.0,-5.0,BUF
2010-09-12,2010,1,CHI,19.0,14.0,DET,CHI,-6.5,45.0,5.0,CHI
2010-09-12,2010,1,HOU,34.0,24.0,IND,IND,-1.0,48.0,10.0,HOU
2010-09-12,2010,1,JAX,24.0,17.0,DEN,JAX,-3.0,41.5,7.0,JAX

In [184]:
# h is for home designation
nfl_h = nfl.rename(columns= {
    'team_home': 'team',
    'score_home': 'score',
    'score_away': 'opponent_score',
    'team_away' : 'opponent_team',
})

In [185]:
nfl_h.reset_index(inplace=True)

In [187]:
nfl_h.head()

,schedule_date,schedule_season,schedule_week,team,score,opponent_score,team_away,team_favorite_id,spread_favorite,over_under_line,margin,home_team
0,2010-09-09,2010,1,NO,14.0,9.0,MIN,NO,-5.0,49.5,5.0,NO
1,2010-09-12,2010,1,BUF,10.0,15.0,MIA,MIA,-3.0,39.0,-5.0,BUF
2,2010-09-12,2010,1,CHI,19.0,14.0,DET,CHI,-6.5,45.0,5.0,CHI
3,2010-09-12,2010,1,HOU,34.0,24.0,IND,IND,-1.0,48.0,10.0,HOU
4,2010-09-12,2010,1,JAX,24.0,17.0,DEN,JAX,-3.0,41.5,7.0,JAX

In [190]:
nfl_h['id'] = nfl_h['team'] + nfl_h['schedule_date'].astype(str) + nfl_h['team_away']

In [192]:
nfl_h.head(1)

,schedule_date,schedule_season,schedule_week,team,score,opponent_score,team_away,team_favorite_id,spread_favorite,over_under_line,margin,home_team,id
0,2010-09-09,2010,1,NO,14.0,9.0,MIN,NO,-5.0,49.5,5.0,NO,NO2010-09-09MIN

In [193]:
nfl_h.drop(columns = 'team_away', inplace=True)

In [194]:
nfl_h.shape

(2560, 12)

In [195]:
# a is for home designation
nfl_a = nfl.rename(columns= {
    'team_away': 'team',
    'score_away': 'score',
    'score_home': 'opponent_score',
    'team_home' : 'opponent_team'
})

In [196]:
nfl_a.reset_index(inplace=True)

In [201]:
nfl_a.head(1)

,schedule_date,schedule_season,schedule_week,team_home,opponent_score,score,team,team_favorite_id,spread_favorite,over_under_line,margin,home_team
0,2010-09-09,2010,1,NO,14.0,9.0,MIN,NO,-5.0,49.5,5.0,NO

In [202]:
nfl_a['id'] = nfl_a['team'] + nfl_a['schedule_date'].astype(str) + nfl_a['team_home']

In [203]:
nfl_a.head(1)

,schedule_date,schedule_season,schedule_week,team_home,opponent_score,score,team,team_favorite_id,spread_favorite,over_under_line,margin,home_team,id
0,2010-09-09,2010,1,NO,14.0,9.0,MIN,NO,-5.0,49.5,5.0,NO,MIN2010-09-09NO

In [205]:
nfl_a.drop(columns='team_home', inplace=True)

In [206]:
nfl_a['margin'] = nfl_a['score'] - nfl_a['opponent_score']

In [207]:
nfl_a.shape

(2560, 12)

In [208]:
nfl_ha = pd.concat([nfl_h, nfl_a], axis=0, join ='inner')

In [209]:
nfl_ha.shape

(5120, 12)

In [211]:
nfl_ha.sort_values(by= ['schedule_date', 'team'], inplace=True)

In [213]:
nfl_ha.head()

,schedule_date,schedule_season,schedule_week,team,score,opponent_score,team_favorite_id,spread_favorite,over_under_line,margin,home_team,id
0,2010-09-09,2010,1,MIN,9.0,14.0,NO,-5.0,49.5,-5.0,NO,MIN2010-09-09NO
0,2010-09-09,2010,1,NO,14.0,9.0,NO,-5.0,49.5,5.0,NO,NO2010-09-09MIN
10,2010-09-12,2010,1,ARI,17.0,13.0,ARI,-3.0,39.5,4.0,LAR,ARI2010-09-12LAR
8,2010-09-12,2010,1,ATL,9.0,15.0,ATL,-1.5,39.5,-6.0,PIT,ATL2010-09-12PIT
1,2010-09-12,2010,1,BUF,10.0,15.0,MIA,-3.0,39.0,-5.0,BUF,BUF2010-09-12MIA

In [215]:
nfl_ha.to_csv('./data/nfl_scores_agg.csv')