In [339]:
import pandas as pd

In [340]:
nfl = pd.read_csv('./data/spreadspoke_110820.csv', index_col = "schedule_date", parse_dates = True)

### Data starts in 2011 Season

In [341]:
nfl = pd.DataFrame(nfl.loc['2011-09-01':'2020-11-02'])

In [342]:
nfl['over_under_line'] = nfl['over_under_line'].astype(float)

In [343]:
nfl16 = nfl.iloc[:, :7]

### Working on only 2016

In [344]:
nfl16 = pd.DataFrame(nfl16.loc['2016-09-01':'2017-01-01'])

In [345]:
nfl16.drop(columns = 'schedule_playoff',inplace=True)

In [346]:
nfl16['margin'] = nfl16['score_home'] - nfl16['score_away']

- changing team names to city abbreviations

In [347]:
def desc_to_id(id):

    id_dict = {
        'Atlanta Falcons': 'ATL',
        'Chicago Bears': 'CHI',
        'Cleveland Browns': 'CLE',
        'Green Bay Packers': "GB",
        'Indianapolis Colts':'IND',
        'Jacksonville Jaguars':'JAX',
        'New Orleans Saints': 'NO',
        'New York Jets':'NYJ',
        'Philadelphia Eagles':'PHI',
        'Seattle Seahawks':'SEA',
        'St. Louis Rams': 'LAR',
        'Tampa Bay Buccaneers':'TB',
        'Tennessee Titans':'TEN',
        'Washington Redskins':'WAS',
        'Denver Broncos':'DEN',
        'Baltimore Ravens':'BAL',
        'Buffalo Bills':'BUF',
        'Carolina Panthers':'CAR',
        'Cincinnati Bengals': 'CIN',
        'Detroit Lions': 'DET',
        'Kansas City Chiefs': 'KC',
        'Miami Dolphins': 'MIA',
        'Minnesota Vikings':'MIN',
        'New England Patriots':'NE',
        'New York Giants':'NYG',
        'San Francisco 49ers':'SF',
        'Dallas Cowboys': 'DAL',
        'Oakland Raiders': 'OAK',
        'Pittsburgh Steelers':'PIT',
        'San Diego Chargers':'LAC',
        'Arizona Cardinals': 'ARI',
        'Houston Texans':'HOU',
        'Los Angeles Rams':'LAR',
        'Los Angeles Chargers':'LAC'
    }
    
    try:
        return id_dict[id]
    except:
        return 'CHECK!'

In [348]:
nfl16['team_away'] = nfl16['team_away'].apply(desc_to_id)
nfl16['team_home'] = nfl16['team_home'].apply(desc_to_id)

- 32 teams so 16 rows per week

In [349]:
nfl16.shape

(256, 7)

In [350]:
nfl16['home_team']= nfl16['team_home']
nfl16.tail(17)

,schedule_season,schedule_week,team_home,score_home,score_away,team_away,margin,home_team
schedule_date,,,,,,,,
2016-12-26,2016,16,DAL,42.0,21.0,DET,21.0,DAL
2017-01-01,2016,17,ATL,38.0,32.0,NO,6.0,ATL
2017-01-01,2016,17,CIN,27.0,10.0,BAL,17.0,CIN
2017-01-01,2016,17,DEN,24.0,6.0,OAK,18.0,DEN
2017-01-01,2016,17,DET,24.0,31.0,GB,-7.0,DET
2017-01-01,2016,17,IND,24.0,20.0,JAX,4.0,IND
2017-01-01,2016,17,LAR,6.0,44.0,ARI,-38.0,LAR
2017-01-01,2016,17,MIA,14.0,35.0,NE,-21.0,MIA
2017-01-01,2016,17,MIN,38.0,10.0,CHI,28.0,MIN
2017-01-01,2016,17,NYJ,30.0,10.0,BUF,20.0,NYJ
2017-01-01,2016,17,PHI,27.0,13.0,DAL,14.0,PHI
2017-01-01,2016,17,PIT,27.0,24.0,CLE,3.0,PIT
2017-01-01,2016,17,LAC,27.0,37.0,KC,-10.0,LAC
2017-01-01,2016,17,SF,23.0,25.0,SEA,-2.0,SF
2017-01-01,2016,17,TB,17.0,16.0,CAR,1.0,TB
2017-01-01,2016,17,TEN,24.0,17.0,HOU,7.0,TEN
2017-01-01,2016,17,WAS,10.0,19.0,NYG,-9.0,WAS

In [351]:
#nfl16['id'] = nfl16['schedule_season'].astype(str) + nfl16['team_home'] + nfl16['schedule_week']

In [352]:
nfl16.head()

,schedule_season,schedule_week,team_home,score_home,score_away,team_away,margin,home_team
schedule_date,,,,,,,,
2016-09-08,2016,1,DEN,21.0,20.0,CAR,1.0,DEN
2016-09-11,2016,1,ARI,21.0,23.0,NE,-2.0,ARI
2016-09-11,2016,1,ATL,24.0,31.0,TB,-7.0,ATL
2016-09-11,2016,1,BAL,13.0,7.0,BUF,6.0,BAL
2016-09-11,2016,1,DAL,19.0,20.0,NYG,-1.0,DAL

### need to cut to week 6 here?

In [353]:
#nfl16_a[nfl16_a['schedule_week']=='6']

In [354]:
# h is for home designation
nfl16_h = nfl16.rename(columns= {
    'team_home': 'team',
    'score_home': 'score',
    'score_away': 'opponent_score',    
})

- needed to add unique id

In [355]:
nfl16_h['id'] = nfl16_h['schedule_season'].astype(str) + nfl16_h['team'] + nfl16_h['schedule_week']

In [356]:
nfl16_h.head()

,schedule_season,schedule_week,team,score,opponent_score,team_away,margin,home_team,id
schedule_date,,,,,,,,,
2016-09-08,2016,1,DEN,21.0,20.0,CAR,1.0,DEN,2016DEN1
2016-09-11,2016,1,ARI,21.0,23.0,NE,-2.0,ARI,2016ARI1
2016-09-11,2016,1,ATL,24.0,31.0,TB,-7.0,ATL,2016ATL1
2016-09-11,2016,1,BAL,13.0,7.0,BUF,6.0,BAL,2016BAL1
2016-09-11,2016,1,DAL,19.0,20.0,NYG,-1.0,DAL,2016DAL1

In [357]:
nfl16_h.drop(columns = 'team_away', inplace=True)

In [358]:
nfl16_h.shape

(256, 8)

In [359]:
# a is for home designation
nfl16_a = nfl16.rename(columns= {
    'team_away': 'team',
    'score_away': 'score',
    'score_home': 'opponent_score',    
})

In [361]:
nfl16_a.head()

,schedule_season,schedule_week,team_home,opponent_score,score,team,margin,home_team
schedule_date,,,,,,,,
2016-09-08,2016,1,DEN,21.0,20.0,CAR,1.0,DEN
2016-09-11,2016,1,ARI,21.0,23.0,NE,-2.0,ARI
2016-09-11,2016,1,ATL,24.0,31.0,TB,-7.0,ATL
2016-09-11,2016,1,BAL,13.0,7.0,BUF,6.0,BAL
2016-09-11,2016,1,DAL,19.0,20.0,NYG,-1.0,DAL

- need to add unique "id"

In [362]:
nfl16_a['id'] = nfl16_a['schedule_season'].astype(str) + nfl16_a['team'] + nfl16_a['schedule_week']

In [363]:
nfl16_a.drop(columns='team_home', inplace=True)

In [364]:
nfl16_a['margin'] = nfl16_a['score'] - nfl16_a['opponent_score']

In [367]:
nfl16_a.shape

(256, 8)

In [330]:
nfl16_a.head()

,schedule_season,schedule_week,opponent_score,score,team,margin,home_team
schedule_date,,,,,,,
2016-09-08,2016,1,21.0,20.0,CAR,-1.0,DEN
2016-09-11,2016,1,21.0,23.0,NE,2.0,ARI
2016-09-11,2016,1,24.0,31.0,TB,7.0,ATL
2016-09-11,2016,1,13.0,7.0,BUF,-6.0,BAL
2016-09-11,2016,1,19.0,20.0,NYG,1.0,DAL

In [368]:
nfl16_a = nfl16_a[['id','schedule_season', 'schedule_week', 'team', 'score', 'opponent_score', 'margin', 'home_team']]

In [370]:
#nfl16_a[nfl16_a['schedule_week']=='6']
#nfl16_a.shape #(256,8)
nfl16_a.head()

,id,schedule_season,schedule_week,team,score,opponent_score,margin,home_team
schedule_date,,,,,,,,
2016-09-08,2016CAR1,2016,1,CAR,20.0,21.0,-1.0,DEN
2016-09-11,2016NE1,2016,1,NE,23.0,21.0,2.0,ARI
2016-09-11,2016TB1,2016,1,TB,31.0,24.0,7.0,ATL
2016-09-11,2016BUF1,2016,1,BUF,7.0,13.0,-6.0,BAL
2016-09-11,2016NYG1,2016,1,NYG,20.0,19.0,1.0,DAL

In [373]:
nfl16_ha = pd.concat([nfl16_h, nfl16_a], axis=0, join ='inner')

In [387]:
nfl16_ha.sort_values(by = ['schedule_date','team'],inplace =True)

In [388]:
nfl16_ha = nfl16_ha.reset_index()
nfl16_ha.tail()

,schedule_date,schedule_season,schedule_week,team,score,opponent_score,margin,home_team,id
507,2017-01-01,2016,17,SEA,25.0,23.0,2.0,SF,2016SEA17
508,2017-01-01,2016,17,SF,23.0,25.0,-2.0,SF,2016SF17
509,2017-01-01,2016,17,TB,17.0,16.0,1.0,TB,2016TB17
510,2017-01-01,2016,17,TEN,24.0,17.0,7.0,TEN,2016TEN17
511,2017-01-01,2016,17,WAS,10.0,19.0,-9.0,WAS,2016WAS17

In [385]:
nfl16_ha.shape

(512, 8)

### changing to week 6 here

In [380]:
nfl16_ha.nunique()

schedule_season      1
schedule_week       17
team                32
score               46
opponent_score      46
margin              67
home_team           32
id                 512
dtype: int64

In [ ]:
nfl16_ha.shape

In [ ]:
#nfl16_ha =pd.DataFrame(nfl16_ha.loc[:'2016-10-18'])

In [ ]:
nfl16_ha.tail(2)

In [ ]:
nfl16_ha.shape

##### Brings in the yardage file

In [381]:
nfl16_yards = pd.read_csv('./data/nfl16_yards.csv', index_col=0)

In [382]:
nfl16_yards.head()

   game_number team  passing_yards  rushing_yards
0            1  ARI            271             92
1            1  ATL            334             52
2            1  BAL            258             83
3            1  BUF            111             65
4            1  CAR            194            157

In [383]:
nfl16_yards['id'] = '2016'+ nfl16_yards['team'] + nfl16_yards['game_number'].astype(str)

In [384]:
nfl16_yards.shape

(512, 5)

In [ ]:
nfl16w6_yards = pd.DataFrame(nfl16_yards[nfl16_yards['game_number']<=6])
nfl16w6_yards.tail()

In [ ]:
nfl16w6_yards.sort_values(by = ['game_number','team'],inplace =True)

In [ ]:
nfl16w6_yards.head()

In [ ]:
yards16_f6 = nfl16w6_yards.groupby('team').sum().reset_index()

In [ ]:
yards16_f6.shape

In [ ]:
pf_pa = pd.DataFrame(nfl16_ha.groupby('team').mean()[['score','opponent_score','margin']])
#pfa = pd.DataFrame(nfl16_ha.groupby('team').sum()[['score_away']])
#pfh.reset_index(inplace = True)
pf_pa.reset_index(inplace = True)

In [ ]:
nfl16_agg = pd.concat([pf_pa, yards16_f6], axis=1, join ='inner')

In [ ]:
nfl16_agg.shape

In [ ]:
nfl16_agg1 = pd.concat([nfl16_agg, nfl_target['score']], axis=1, join ='inner')

In [ ]:
nfl16_agg1.count()

In [ ]:
nfl_target = pd.DataFrame(nfl16_ha[nfl16_ha['schedule_week']=='6'].sort_values(by='team')).reset_index()

In [ ]:
nfl_target.shape

In [ ]:
nfl16_agg1.tail()

In [ ]:
# nfl16_agg1.rename(columns= {'score':'target'})
# nfl16_agg1